
<div class="flow" >

<header class="d-flex container justify-content-between py-4 align-items-center ">

<div class="logo" >

	<img src="assets/niilan.png" class="img-responsive" style="width: 50px;"> NIILAN

</div>

<nav>

	<a href=""> About </a>

	<a href=""> How it works? </a>

	<a href=""> Cars </a>

	<button class="btn mx-3" style="border: 1px solid #000000;border-radius: 36px;" > Log in </button>

	<button class="btn" style="background: #039ADD; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17); border-radius: 36px;" > Sign up </button>

</nav>

</header>

<div class="row m-0 mt-5" style=" overflow: hidden; ">

	<img src="assets/Ellipse 8.png" style="/* Ellipse 8 */

position: absolute;
width: 211.63px;
height: 204.29px;
left: -50px;
top: 257.26px;

z-index: -99;

background: url(.png);
transform: rotate(-28.89deg);
">

	<img src="assets/Flower Ball.png" style="/* Flower Ball */

position: absolute;
width: 254px;
height: 305px;
left: 1098px;
top: 63px;

z-index: -99;

background: url(.png);
filter: drop-shadow(0px 8px 9px rgba(0, 0, 0, 0.25));
">

<!-- <img src="assets/Flower Ball (1).png" style="/* Flower Ball */

position: absolute;
width: 168px;
height: 202px;
left: 1800px;
top: 581.48px;

background: url(.png);
transform: rotate(-61.38deg);

border: 2px solid;


"> -->

	<div class="col-md-6 pt-5 " style="padding-left: 8% ;">

		<h1 style="font-family: 'Inder'; font-style: normal; font-weight: 900; font-size: 64px; line-height: 80px;"> Taking You There <br> in Grand Style </h1>

		<p style="font-family: 'Inder'; font-style: normal; font-weight: 400; font-size: 32px; line-height: 40px;">
			Niilan gives a wide range of vehicles 
to choose from. These vehicles suit the style of everyone. Luxurious and comfortable cars that will not just get you to you to your destination but treat you like the royal you from beginning to end.
</p>

<p class="text-center"> <button class="btn" style="background: #039ADD; border-radius: 36px; color: #D9D9D9; "> Get Started </button> </p>

	</div>

	<div class="col-md-6 m-0 p-0" style="text-align: right;">

		<img src="assets/black-audi-car-png-17 1.png" style="height: inherit;" >

	</div>

	</div>

</div>