
<header class="fixed-top">
    <div class="text-light py-3 d-flex align-items-center ">
    
        <div class="logo text-center">
            <h2> <img src="assets/niilan.png"> NIILAN </h2>
        </div>
    
        <nav class="desktop text-center d-flex justify-content-center">
    
            <a>Home</a>
            <a>About</a>
            <a>Pricing</a>
            <a routerLink="/cars">Cars</a>
            <a>Blog</a>
            <a>Contact</a>
    
        </nav>
    
        <div class="menu-bar d-flex justify-content-center" style="width: 80%;">
    
            <p style="color: rgba(255, 255, 255, 0.5); cursor: pointer;" class="m-0" onclick="document.getElementById('m-nav').classList.toggle('hide')" >
                <i class="fa fa-bars"></i> MENU
            </p>
    
        </div>
        
    </div>
    
     <nav id="m-nav" class="hide text-light d-flex flex-column" style="width: 100%;">
    
            <a>Home</a>
            <a>About</a>
            <a>Pricing</a>
            <a routerLink="/cars">Cars</a>
            <a>Blog</a>
            <a>Contact</a>
    
        </nav>
    
        </header>