header{
    div.logo{
    font-family: 'Inder';
    width: 30%;
    transition: all 3s ease;
    z-index: 99;

    img{
        width: 15%;
    }
}

nav{
    width: 80%;
    font-family: 'Inder';

    a{
        padding: 2%;
        cursor: pointer !important;
        text-decoration: none;
        color: white;
    }

    a:hover{
        color: #ffc107 !important;
    }
}

}

.activeLink{
    color: #ffc107;
}

div.m-nav{
    transition: all 3s ease-in;
}

.hide,.menu-bar{
    display: none !important;
}

@media(max-width: 990px){

    .show{
        display: block !important;
    }

    .menu-bar{
        display: flex !important;
    }

    header{
        background-color: black;
        nav.desktop{
            display: none !important;
        }

        nav.m-nav a{
            border-top: 2px solid;
            width: 100%;
        }
    }
}

@media(max-width: 500px){

    .show{
        display: block !important;
    }

    div.logo{
        width: 50% !important;

        img{
            width: 20%;
        }
    }

    .menu-bar{
        display: flex !important;
        justify-content: flex-end !important;
        padding-right: 3%;
        width: 50% !important;
    }

    header{
        background-color: black;
        nav.desktop{
            display: none !important;
        }

        nav#m-nav a{
            border-top: 2px solid white;
            width: 100%;
            padding-right: 5%;
        }
    }

    /*div.banner{
        background-size: cover;
        background-position: center;
        // background-position-y: 0px;
        // background-position-x: 0px;
    }*/
}