<footer class="py-5 bg-dark mt-5 text-light">

    <div class="container">

        <div class="row">

            <div class="col-sm-3 mt-3">

                <h3 class="mb-4"> About Niilano </h3>

                <p> Niilano is a web platform that encourages peer to peer car rental by allowing private car owners to rent out their vehicles via the online platform.  It allows individuals to rent cars from a wider selection therefore making renting easy, safe and enjoyable. </p>

                <div class="d-flex mt-5">

                    <a class="text-light mx-2" href=""> <i class="fa-brands fa-twitter fa-2x"></i> </a>

                    <a class="text-light mx-2" href=""> <i class="fa-brands fa-facebook fa-2x"></i> </a>

                    <a class="text-light mx-2" href=""> <i class="fa-brands fa-instagram fa-2x"></i> </a>
                    
                </div>

            </div>

            <div class="col-sm-3 mt-3">

                <h3 class="mb-4"> Information </h3>

               <div class="d-flex flex-column">

                <a href="" class="text-light p-1" style="text-decoration: none;"> About </a>

                <a href="" class="text-light p-1" style="text-decoration: none;"> Services </a>

                <a href="" class="text-light p-1" style="text-decoration: none;"> Terms and Conditions </a>

               </div>

            </div>

            <div class="col-sm-3 mt-3">

                <h3 class="mb-4"> Customer Support </h3>

               <div class="d-flex flex-column">

                <a href="" class="text-light p-1" style="text-decoration: none;"> FAQ </a>

                <a href="" class="text-light p-1" style="text-decoration: none;"> Payments </a>

                <a href="" class="text-light p-1" style="text-decoration: none;"> Booking Tips </a>

                <a href="" class="text-light p-1" style="text-decoration: none;"> How it works </a>

                <a href="" class="text-light p-1" style="text-decoration: none;"> Contact Us </a>

               </div>

            </div>


            <div class="col-sm-3 mt-3">

                <h3 class="mb-4"> Reach Us </h3>

               <div class="d-flex flex-column">

                <a href="" class="text-light align-items-center d-flex" style="text-decoration: none;"> <i class="fa-solid fa-location-dot mx-3 fa-2x"></i> P.O Box 213 Accra Newtown, Accra, Ghana </a>

                <a href="tel:+233 54 020 2325" class="text-light align-items-center d-flex mt-4" style="text-decoration: none;"> <i class="fa-solid fa-phone mx-3 fa-2x"></i> +233 54 020 2325 </a>

                <a href="mailto: info@niilano.com" class="text-light align-items-center d-flex mt-4" style="text-decoration: none;"> <i class="fa-regular fa-envelope mx-3 fa-2x"></i> info@niilano.com </a>

               </div>

            </div>

        </div>

        <p class="text-center mt-5">
            Copyright &copy;2022 All rights reserved | NIILANO
        </p>

    </div>
    
</footer>