<div class="border-bottom border-2 py-3 px-2 d-flex justify-content-between align-items-center">
    <h3 class="m-0 py-1"> {{title}} </h3>
    <div class="m-hide">
        <i class="fa-solid fa-bell mx-3"></i>
        <i class="fa-solid fa-user"></i>
    </div>
    <div class="m-show">
        <i class="fa-solid fa-bars mx-3" onclick=" document.getElementById('aside-show').classList.toggle('hide') " ></i>
    </div>
</div>


<div id="aside-show" class="hide vh-100 vw-100 fixed-top d-flex animate__animated animate__backInRight" style="backdrop-filter: blur(1px);">

    <div class="text-center mt-3" style="width: 20%; background-color: transparent;" >
      <i class="fa-solid fa-xmark fa-2x text-danger" onclick=" document.getElementById('aside-show').classList.toggle('hide') " ></i>
    </div>
  
    <aside class="bg-light shadow px-2 vh-100 " style="width: 80%; position: relative; "
  >
  
  <h3 class="text-center m-0 py-3"> <img class="mx-1" src="assets/niilan.png" style="width: 15%;"> NIILANO <hr style=" border: 1px solid; "> </h3>
  
  <nav style="font-size: 1em;">
    <p *ngIf="role === 'admin'" class="m-0 rounded p-2 " routerLinkActive="active"  routerLink="/dashboard/admin"> <i class="fa-solid fa-people-roof"></i> Admin </p>
  <p class="m-0 rounded p-2 mt-3 " routerLinkActive="active"  routerLink="/dashboard/overview" > <i class="fa-solid fa-user-circle"></i> Profile </p>
    <p class="m-0 rounded p-2 mt-3 " routerLinkActive="active"  routerLink="/dashboard/list-car"> <i class="fa-solid fa-car"></i> List Car </p>
    <p class="m-0 rounded p-2 mt-3 " routerLinkActive="active"  routerLink="/dashboard/manage-listings"> <i class="fa-solid fa-list-check"></i> Manage Listings </p>
    <p class="m-0 rounded p-2 mt-3 " routerLink="/dashboard/approvals"> <i class="fa-solid fa-thumbs-up"></i> Approvals </p>
  </nav>

  <p style="position: absolute; bottom: 0; right: 0; width: 100%;" class=" bg-warning m-0 p-2 text-center font-weight-bold ">
    &copy; 2022 Niilano
  </p>
  
  </aside>
    
  </div>