.login,.register{
    background-image: url(../../assets/pexels-matheus-bertelli-799443.jpg);
    background-size: cover;
    background-position: center;
}

.card{
    background-color: rgba(255, 255, 255, 0.774);
}

.login::before,.register::before{
    content: "";
    position: absolute;
    width: 100%;
    height: -webkit-fill-available;
    background-color: rgba(14, 54, 165, 0.219);
    left: 0;
}

label::before{
    border: 2px solid black;
}
// .d-none{
//     display: none !important;
// }

// #register{
//     display: none;
// }

@media(max-width: 500px){
    .side{
        display: none !important;
    }
    .form-group{
        width: 80% !important;
    }
}