
<div class="login d-none vh-100 row m-0 overflow-hidden" id="login" style="background-image: url('./assets/girldrive.png'); background-size: contain; ">

    <div class="col-sm-3 text-light d-flex align-items-center justify-content-center" >

        <img src="./assets/niilan.png" class="img-responsive" style="width: 150px; opacity: 60%;">

    </div>

    <div class="col-sm-9 p-0 overflow-hidden" >

        <div class="d-flex overflow-hidden" style=" background-color: #F2FEFF; height: 100vh; width: 100%; border-top-left-radius: 2rem; border-bottom-left-radius: 2rem; ">

            <form [formGroup]="login" (ngSubmit)="submitLoginDetails()" class=" d-flex align-items-center justify-content-center flex-column " style="height: inherit; width: 98%;">

                <h1 class="mb-5 pb-5"> Welcome back </h1>

                <div class="form-group mb-4" style="width: 50%;">

                <label > Full name </label>

                <small class="text-danger font-weight-bolder" *ngIf="submitted && this.loginV['username'].errors?.['required']"> *** This field is required *** </small>

                <input class="form-control bg-light" placeholder="Full name" formControlName="username" >

                </div>

                <div class="form-group" style="width: 50%;">

                <label > Email </label>

                <small class="text-danger font-weight-bolder" *ngIf="submitted && this.loginV['password'].errors?.['required']"> *** This field is required *** </small>

                <input class="form-control bg-light" placeholder="Email" formControlName="password" >

                </div>

                <button type="submit" class="btn text-light mt-5" style="background-color: #039ADD; width: 30%;"> Log in </button>

            </form>

            <div style=" background-color: #039ADD; width: 2%; ">
                
            </div>

        </div>

    </div>

    <!-- <div class="col-sm-1" style=" background-color: #039ADD; "></div> -->

    

</div>




<div class="register d-none vh-100 row m-0 overflow-hidden" id="register" style="background-image: url('./assets/girldrive.png'); background-size: contain; ">

    <div class="col-sm-3 text-light d-flex align-items-center justify-content-center" >

        <img src="./assets/niilan.png" class="img-responsive" style="width: 150px; opacity: 60%;">

    </div>

    <div class="col-sm-9 p-0 overflow-hidden" >

        <div class="d-flex overflow-hidden" style=" background-color: #F2FEFF; height: 100vh; width: 100%; border-top-left-radius: 2rem; border-bottom-left-radius: 2rem; ">

            <form [formGroup]="register" (ngSubmit)="submitRegister()" class=" d-flex align-items-center justify-content-center flex-column " style="height: inherit; width: 98%;">

                <h1 class="mb-4"> Welcome </h1>

                <div class="mb-3" style="width: 50%;">

                <span class="text-center font-weight-bolder p-2 " style="width: 30%; background-color: lightgrey; border-radius: 1rem; display: inline-block; "> G  </span> </div>

                <div class="form-group mb-3" style="width: 50%;">

                <!-- <label > Full name </label> -->

                <small class="text-danger font-weight-bolder" *ngIf="submitted && this.registerV['fullName'].errors?.['required']"> *** This field is required *** </small>

                <input class="form-control bg-light" placeholder="Full name" formControlName="fullName" >

                </div>

                <div class="form-group mb-3" style="width: 50%;">

                <!-- <label > Email </label> -->

                <small class="text-danger font-weight-bolder" *ngIf="submitted && this.registerV['email'].errors?.['required']"> *** This field is required *** </small>

                <small class="text-danger font-weight-bolder" *ngIf="submitted && this.registerV['email'].errors?.['email']"> *** Please provide a valid email *** </small>

                <input class="form-control bg-light" placeholder="Email" formControlName="email" >

                </div>

                <div class="form-group mb-3" style="width: 50%;">

                    <!-- <label > Phone Number </label> -->

                    <small class="text-danger font-weight-bolder" *ngIf="submitted && this.registerV['phoneNumber'].errors?.['required']"> *** This field is required *** </small>
    
                    <input class="form-control bg-light" placeholder="Phone Number" formControlName="phoneNumber" >
    
                    </div>

                    <div class="form-group mb-3" style="width: 50%;">

                        <!-- <label > Password </label> -->

                        <small class="text-danger font-weight-bolder" *ngIf="submitted && this.registerV['password'].errors?.['required']"> *** This field is required *** </small>

                        <small class="text-danger font-weight-bolder" *ngIf="submitted && this.registerV['password'].errors?.['max']"> *** Password must be at least 6. *** </small>

                        <small class="text-danger font-weight-bolder" *ngIf="submitted && this.registerV['confirmPassword'].errors?.['mustmatch']"> *** Passwords do not match *** </small>
        
                        <input type="password" class="form-control bg-light" placeholder="Password" formControlName="password" >
        
                        </div>

                        <div class="form-group mb-3" style="width: 50%;">

                            <!-- <label > Confirm Password </label> -->

                            <small class="text-danger font-weight-bolder" *ngIf="submitted && this.registerV['confirmPassword'].errors?.['required']"> *** This field is required *** </small>

                            <small class="text-danger font-weight-bolder" *ngIf="submitted && this.registerV['confirmPassword'].errors?.['mustmatch']"> *** Passwords do not match *** </small>
            
                            <input type="password" class="form-control bg-light" placeholder="Confirm Password" formControlName="confirmPassword" >
            
                            </div>

                        <div class="mb-3" style="width: 50%;">
            
                            <input id="agreedTermsOfService" class="bg-light d-inline" type="checkbox" formControlName="agreedTermsOfService" >

                            <label for="agreedTermsOfService" class="d-inline"> By creating an account, I have accepted and agree to the Terms of service and Privacy Policy of Niilan </label>

                            <small class="text-danger font-weight-bolder" *ngIf="submitted && this.registerV['agreedTermsOfService'].errors?.['required']"> *** This field is required *** </small>
            
                            </div>

                            <div  style="width: 50%;">

                <button class="btn text-light " style="  background-color: #039ADD; "> Create Account </button>

                </div>

            </form>

            <div style=" background-color: #039ADD; width: 2%; ">
                
            </div>

        </div>

    </div>

    <!-- <div class="col-sm-1" style=" background-color: #039ADD; "></div> -->

    

</div>
