<app-header></app-header>

    <div class="banner bg-dark d-flex align-items-center " style="height: 850px; background-image: url(assets/banner3.jpg); position: relative;">

        <div class="container" style="position: relative; z-index: 99;">

            <div class="row">

            <div class="col-sm-6">
<!-- <h1 class="" style="color: white; position: relative; z-index: 99; font-size: 60px; line-height: 1.1; font-weight: 200;"> Now
It's easy for you
rent a car </h1> -->
<h1 class="" style="color: white; font-size: 60px; line-height: 1.1; font-weight: 200;"> Taking you there like a BOSS </h1>

<p style="font-size: 18px; color: white !important;"> Niilan gives a wide range of vehicles to choose from. These vehicles suit the style of everyone. Luxurious and comfortable cars that will not just get you to your destination but treat you like the royal you from beginning to end. </p>
            </div>

             <div class="sr-form col-sm-6">


                <div class="p-3 rounded" style="background-color: #ffffff8c;">

                    <h3> Make your trip</h3>

                    <p class="bg-warning rounded p-3"> Search for vehicles around your region. </p>

                    <div class="form-group">
                        <label>Select region</label>
                        <input type="text" class="form-control" list="region" [(ngModel)]="region">
                        <datalist id="region"> 
                            <option *ngFor="let x of regions">{{x}} </option>
                        </datalist>
                    </div>

                    <div class="form-group mt-3">
                        <button class="btn btn-primary" [routerLink]="['/cars/region',region]"> Search vehicle </button>
                    </div>

                </div>

            </div>

        </div>

        </div>

     <!--    <div class="ms-5 mb-5 rounded p-3" style=" background-color: rgba(236, 237, 247, 0.507); backdrop-filter: blur(3px); width: max-content;"  >
        <h2 class="text-primary"> Car Rental Based in <br> Ghana </h2>
        <p class="text-dark"> Experience top quality rental care by friendly <br> and experienced </p> -->
        <!-- <h2 class="text-primary"> Taking you there like a BOSS </h2>
        <p class="text-dark">Niilan gives a wide range of vehicles 
            to choose from. These vehicles suit the style of everyone. Luxurious and comfortable cars that will not just get you to your destination but treat you like the royal you from beginning to end.</p>-->
        <!-- </div> -->

    <!--     <div class="" style="position: absolute; width: 100%; bottom: -10%;">
        <div class="bg-primary container p-4 d-flex justify-content-between">
            <h4 class="text-light"> Book Your Car Rental Now </h4>
            <button class="btn btn-outline-light">RENT A CAR</button>
        </div>
        </div> -->

    </div>

<app-sort></app-sort>

    <div class="container my-5 animate__animated animate__zoomIn" style="font-family: 'Inder">

        <p class="text-center text-warning font-weight-bolder m-0 "> WHAT WE OFFER </p>

        <h1 class="text-center text-dark font-weight-bolder "> Choose your car </h1>


        <div class="lists row m-0 p-0 " >

            <div [routerLink]="['/cars/details', carsId ]" class="col-lg-3 col-md-4 m-0 p-1 mt-3 car" *ngFor=" let x of cars1 | paginate: { itemsPerPage: 4, currentPage: p } index as carsId " style="cursor: pointer;" >
        
                <div class="card"  >
        
                    <div class="card-header d-flex justify-content-center p-0 overflow-hidden  " style="height: 200px; box-sizing: border-box;  " [ngStyle]="{ 'background-image' : 'url('+x.carImagesUrl[0]+')', 'background-size':'cover','background-position': 'center center','background-repeat' : 'no-repeat'}">
        
                    </div>
        
                    <div class="card-body">
        
                        <h5 class="text-center" style=" text-overflow: ellipsis; white-space: nowrap; overflow: hidden; " > {{x.carName}}  </h5>
        
                        <div class="details">
        
                            <p class="font-weight-bold m-0" style=" text-overflow: ellipsis; white-space: nowrap; overflow: hidden; ">  {{x.description}} </p>

                            <p *ngIf="!x.description" class="font-weight-bold m-0" style=" text-overflow: ellipsis; white-space: nowrap; overflow: hidden; "> <span style="color: transparent;">a</span> {{x.description}} </p>
        
                        </div>
        
                    </div>
        
                    <div class="card-footer d-flex justify-content-center align-items-center " >
        
                        <p class="m-0 text-center" style="width: 50%;  text-overflow: ellipsis; white-space: nowrap; overflow: hidden; " > <b> GH₵{{x.price}} </b>  </p>
        
                        <button class="btn btn-outline-primary" style="width: 50%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; " > BOOK NOW </button>
                        
                                </div>
        
                </div>
        
                </div>
        
                
        
        </div>

        <div class="text-center text-primary mt-3" style="font-size: 1.2em; cursor: pointer;" routerLink="cars" >
            More Cars <i class="fa-solid fa-arrow-right-long"></i>
        </div>

    </div>



    <div class="container mt-5" style="font-family: 'Inder">

        <h2 class="text-center m-0"> Our Services </h2>
    
        <hr class="rounded border border-3 border-warning" style="width: 10%; margin: auto;  opacity:100;">
    
        <div class="row mt-3">
    
            <div class="col-sm-4 mt-5">
                <h3 class="d-flex align-items-center"> <i class="fa-solid fa-screwdriver-wrench text-warning mx-2"></i>  24/7 Car Support </h3>
                <p> For any enquiries, you can call our customer care team on 0540202325 / 0207126289 or email info@niilan.com </p>
            </div>
    
            <div class="col-sm-4 mt-5">
                <h3 class="d-flex align-items-center"> <i class="fa-solid fa-map-location text-warning mx-2"></i> <!-- <span id="ee"> </span> -->  Lots of location </h3>
                <p> Just enter your location and niilan will provide you with a list of vehicles available for rent. </p>
            </div>
    
            <div class="col-sm-4 mt-5">
                <h3 class="d-flex align-items-center"> <i class="fa-solid fa-car text-warning mx-2"></i>  Rental Cars </h3>
                <p> Niilan provides you with a wide selection of vehicles available for rent ranging from Sedans, Pickups, SUVs, Trucks, Vans/Minivans, Buses, ambulances and many more. </p>
            </div>
    
        </div>
    
        </div>





    <div class="work-flow bg-dark text-light " style="font-family: 'Inder'; background-image: url('assets/banner4.jpg'); ">

        <p class="text-center font-weight-bolder m-0" style="position: relative; z-index: 1;"> WORK FLOW </p>

        <h1 class="text-center" style="position: relative; z-index: 1;"> How it works </h1>

<div class="container" style="position: relative; z-index: 1">
        <div class="row mt-5">

            <div class="col-sm-3 text-center">

                <i class="fa-solid fa-map-location fa-2x border border-3 border-warning p-3" style="border-radius: 50%;"></i>

                <h3> Pick Destination </h3>

                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>

            </div>

            <div class="col-sm-3 text-center">

                <i class="fa-solid fa-hand-pointer fa-2x border border-3 border-warning p-3" style="border-radius: 50%;"></i>

                <h3> Select Term </h3>

                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>

            </div>

            <div class="col-sm-3 text-center">

                <i class="fa-solid fa-map-location fa-2x border border-3 border-warning p-3" style="border-radius: 50%;"></i>

                <h3> Choose A Car </h3>

                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>

            </div>

            <div class="col-sm-3 text-center">

                <i class="fa-solid fa-map-location fa-2x border border-3 border-warning p-3" style="border-radius: 50%;"></i>

                <h3> Enjoy The Ride </h3>

                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>

            </div>

        </div>
    </div>

    </div>

    <div class="container mt-5" style="font-family: 'Inder">

        <p class="text-center text-warning font-weight-bolder m-0"> TESTIMONIALS </p>

        <h1 class="text-center"> From clients </h1>

        <div class="bg-dark p-3">

        </div>

    </div>

<app-footer></app-footer>