<header class="bg-light d-flex align-items-center">

    <div class="logo text-center">
        <img src="assets/niilan.png"> NIILAN
    </div>

    <nav class="text-center d-flex justify-content-center">

        <a>CARS</a>
        <a>ABOUT US</a>
        <a>CONTACT US</a>

    </nav>
    

    </header>

    <div class="banner bg-dark d-flex align-items-end " style="height: 400px; background-image: url(assets/banner.jpg); position: relative;">

        <div class="ms-5 mb-5 rounded p-3" style=" background-color: rgba(236, 237, 247, 0.507); backdrop-filter: blur(3px); width: max-content;"  >
        <h2 class="text-primary"> Car Rental Based in <br> Ghana </h2>
        <p class="text-dark"> Experience top quality rental care by friendly <br> and experienced </p>
        <!-- <h2 class="text-primary"> Taking you there like a BOSS </h2>
        <p class="text-dark">Niilan gives a wide range of vehicles 
            to choose from. These vehicles suit the style of everyone. Luxurious and comfortable cars that will not just get you to your destination but treat you like the royal you from beginning to end.</p>-->
        </div>

        <div class="" style="position: absolute; width: 100%; bottom: -10%;">
        <div class="bg-primary container p-4 d-flex justify-content-between">
            <h4 class="text-light"> Book Your Car Rental Now </h4>
            <button class="btn btn-outline-light">RENT A CAR</button>
        </div>
        </div>

    </div>