header{
    div.logo{
    font-family: 'Inder';
    width: 30%;

    img{
        width: 15%;
    }
}

nav{
    width: 80%;
    font-family: 'Inder';

    a{
        padding: 2%;
    }
}

}

div.m-nav{
    transition: all 3s ease-in;
}

.hide,.menu-bar{
    display: none !important;
}

div.banner{
    background-size: cover;
    font-family: 'Inder';
    background-position: 50% 0px;
    background-repeat: no-repeat;
}

div.banner::before{
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .4;
}

@media(max-width: 990px){

    .show{
        display: block !important;
    }

    .menu-bar{
        display: flex !important;
    }

    header{
        background-color: black;
        nav.desktop{
            display: none !important;
        }

        nav.m-nav a{
            border-top: 2px solid;
            width: 100%;
        }
    }

    /*div.banner{
        background-size: cover;
        background-position: center;
        // background-position-y: 0px;
        // background-position-x: 0px;
    }*/
}

@media(max-width: 500px){

    div.banner{
        height: 950px !important;
    }

    div.sr-form{
        margin-top: 10%;
    }

    .show{
        display: block !important;
    }

    div.logo{
        width: 50% !important;
    }

    .menu-bar{
        display: flex !important;
        justify-content: end !important;
        padding-right: 3%;
        width: 50% !important;
    }

    header{
        background-color: black;
        nav.desktop{
            display: none !important;
        }

        nav#m-nav a{
            border-top: 2px solid white;
            width: 100%;
        }
    }

    /*div.banner{
        background-size: cover;
        background-position: center;
        // background-position-y: 0px;
        // background-position-x: 0px;
    }*/
}