<app-dash-header [title]="title" ></app-dash-header>

<!-- <pre>
    {{src | json}}
</pre> -->

    <div class="my-3" >

        <form [formGroup]="listCars" (ngSubmit)="listCarSubmit()" class=" p-4 rounded " style="font-family: 'Inder';">

            <h1 class="text-warning"> List your car </h1>

            <div class="form-group">
                <label class="text-dark"> Name your Vehicle </label>
                <small *ngIf="submitted && this.listCarsV['carName'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small>
                <input class="form-control" formControlName="carName" placeholder="Car Name" >
            </div>

            <div class="form-group mt-3 ">
                <label class="text-dark"> Region </label>
                <small *ngIf="submitted && this.listCarsV['carRegion'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small>
                <input type="text" list="regions" formControlName="carRegion" class="form-control" placeholder="Choose Region" >

                <datalist id="regions">
                    <option *ngFor="let x of regions"> {{x}} </option>
                </datalist>

                <!-- <select class="form-control" placeholder="Choose Region" >

                    <option> Greater Accra </option>
                    <option> Ashanti </option>

                    </select> -->
            </div>

            <div class="form-group mt-3 ">
                <label class="text-dark"> Location of vehicle </label>
                <small *ngIf="submitted && this.listCarsV['carLocation'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small>
                <input class="form-control" formControlName="carLocation" placeholder="Location" >
            </div>

            <div class="form-group mt-3 row ">
                <div class="col-4">
                    <label class="text-dark"> Seats </label>
                    <small *ngIf="submitted && this.listCarsV['noOfSeats'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small>
                    <input class="form-control" type="number" formControlName="noOfSeats" placeholder=" Seats " list="seats" >
                    <datalist id="seats">
                        <option *ngFor="let x of seats" > {{x}}  </option>
                    </datalist>
                </div>

                <div class="col-4">
                    <label class="text-dark"> Fuel type </label>
                    <small *ngIf="submitted && this.listCarsV['fuel'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small>
                    <input class="form-control" type="text" formControlName="fuel" placeholder=" Fuel " list="fuel" >
                    <datalist id="fuel">
                        <option> Petrol </option>
                        <option> Diesel </option>
                        <option> Gas </option>
                    </datalist>
                </div>

                <div class="col-4">
                    <label class="text-dark"> Speed </label>
                    <small *ngIf="submitted && this.listCarsV['speed'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small>
                    <input class="form-control" type="text" formControlName="speed" placeholder=" Speed " list="speed" >
                    <datalist id="speed">
                        <option *ngFor="let x of speed"> {{x}} </option>
                    </datalist>
                </div>
                
            </div>

            <div class="form-group mt-3 ">
                <!-- <label> Vehicle color </label> -->
                <label class="text-dark"> Color: </label>
                <small *ngIf="submitted && this.listCarsV['color'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small>
                <input class="form-control" type="text" formControlName="color" placeholder="Color" >
            </div>

            <div class="form-group mt-3 ">
                <label class="text-dark">Price per day</label>
                <small *ngIf="submitted && this.listCarsV['price'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small>
                <input class="form-control" type="number" formControlName="price" placeholder="Price (GH₵) " >
                
            </div>

            <div class="form-group mt-3 row ">
                <div class="col-6">
                    <label class="text-dark"> Brand </label>
                    <small *ngIf="submitted && this.listCarsV['carMake'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small>
                <input class="form-control" type="text" formControlName="carMake" placeholder=" Car Make " list="carMake" >
                <datalist id="carMake">
                    <option *ngFor="let x of carMake"> {{x}} </option>
                </datalist>
                </div>
                <div class="col-6">
                    <label class="text-dark"> Type </label>
                    <small *ngIf="submitted && this.listCarsV['bodyStyle'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small>
                    <input class="form-control" type="text" list="carBody" formControlName="bodyStyle" placeholder=" Body Style " >
                    <datalist id="carBody">
                        <option *ngFor="let x of carBody"> {{x}} </option>
                    </datalist>
                    </div>
            </div>

            <div class="form-group mt-3 ">

                <label class="text-dark"> Enter vehicle plate number: </label>
                <small *ngIf="submitted && this.listCarsV['carPlate'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small>
                <input class="form-control" formControlName="carPlate" type="text" placeholder=" e.g GW-9020-20 " >
                
            </div>
            
            
            <div class="d-flex justify-content-center align-items-center p-3 m-0  " style="height: 200px; overflow-x: scroll; scroll-behavior: smooth; scroll-margin-inline-end: 0; ">

                <label class="p-2 rounded bg-dark text-light " style=" width: max-content; " for="images"  > <i class="fa-solid fa-plus"></i> Add Images </label>

                <small *ngIf="submitted && this.listCarsV['carImagesUrl'].errors?.['required']" class="text-danger font-weight-bold mx-2 " > Add at least one image of vehicle </small>

                <div *ngIf="src" class="d-flex align-items-center" style="height: 100%; width: 80%; ">
                    
                    <div *ngFor="let x of src index as i" class="bg-dark mx-3" style="height: 100%; position: relative;">
                        <span class="notify-badge fa-2x fa-solid fa-circle-xmark" (click)="removeImage(i)" ></span>
                <img class="rounded" [src]="x" style="height: 100%; " >
                </div>

                </div>
                
            </div>

            <div class="form-group mt-3 " style="display: none;">
                <input class="form-control" id="images"  type="file" placeholder="Images" #file (change)="imagePreview(file.files)" >
            </div>

            <div class="form-group mt-3">
                <!-- <p class="text-light"> No </p> -->
                <!-- <input class="form-check-input" type="checkbox" formControlName="driver" id="mySwitch" value="yes" checked>  -->
                <!-- <p class="text-light"> Yes </p>> -->
                <!-- <label class="form-check-label text-light" for="mySwitch"> Comes With Driver </label> -->

                <label class="text-dark" for="driving" > Choose driving: </label>

                <small *ngIf="submitted && this.listCarsV['driver'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small>

                <select class="form-control" id="driving" formControlName="driver">
                    <option> Driver available </option>
                    <option> Self driving </option>
                </select>
                
            </div>

            <div class="form-group mt-3 " >
                <label class="text-dark m-2" > Description: </label>
                <small *ngIf="submitted && this.listCarsV['description'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small>
                <textarea formControlName="description" placeholder=" Message for your customers " style="height: 200px;" class="form-control" ></textarea>

            </div>

            <div class="form-group mt-3 " >
                <small *ngIf="submitted && this.listCarsV['status'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small>
                <label class="text-dark m-2" > Is vehicle available at the moment: </label>
                Yes <input type="radio" value="Vehicle is available" formControlName="status"  >
                No <input type="radio" id="no" [value]="'Vehicle will be available on' + availableDate " formControlName="status" #no >

                <div class="row" *ngIf=" this.no.checked " >
                    <small *ngIf="submitted && this.no.checked && !availableDate " class="text-danger font-weight-bold " > This field is required </small>
                    <label class="my-3 font-weight-bolder"> When will the vehicle be available </label>
                   
                    <input class="form-control" type="date" formControlName="s" [(ngModel)]="availableDate" >
                    <!-- <h1> {{ availableDate }}</h1> -->
                </div>

            </div>

            <div class="form-group mt-3 text-end ">

                <button type="reset" class="btn btn-danger mx-2" (click)="resetForm()" > Clear </button>
                
                <button type="submit" class="btn btn-primary" > Submit Listing </button>

            </div>

        </form>

    </div>
    

    <div *ngIf="sucMsg" class="fixed-top text-light font-weight-bolder animate__animated animate__zoomIn d-flex justify-content-center " style=" transition: all 2s ease-in-out;" > 
        <div class="d-flex justify-content-center bg-success rounded p-2 align-items-center" style="width:max-content;"> <i class="fa-solid fa-2x mx-1 fa-circle-check"></i> {{sucMsg}} </div>
      </div>

      <div *ngIf="errMsg" class="fixed-top text-light font-weight-bolder animate__animated animate__zoomIn d-flex justify-content-center " style=" transition: all 2s ease-in-out;" > 
        <div class="d-flex justify-content-center bg-danger rounded p-2 align-items-center" style="width:max-content;"> <i class="fa-solid fa-2x mx-1 fa-circle-check"></i> {{errMsg}} </div>
      </div>

    <div *ngIf="loading" class="d-flex justify-content-center align-items-center fixed-top" style=" backdrop-filter: blur(3px); width: 100%; left: 0; height: 100vh; top: 0; " >

        <div class="bg-light p-3 rounded ">
            <i class="fa-solid fa-gear fa-spin "></i>   PROCESSING...
        </div>


    </div>