<app-dash-header title="Approvals"></app-dash-header>

<div class="container mt-5">

    <!-- mat-raised-button matBadge="7" -->

    <div class="card">

        <div class="card-header d-flex align-items-center justify-content-between" style="cursor: pointer;" (click)="approvals.toggle();  this.ic.classList.toggle('fa-chevron-up');" [attr.aria-expanded]="!isCollapsed" >
            <p class="p-0 m-0 " style="width: 70%;"> Pending Approval Requests </p>
            <i class="fa-solid fa-chevron-down text-end text-warning font-weight-bold" #ic style="width: 30%;"></i>
        </div>

        <div class="card-body" #approvals="ngbCollapse" [(ngbCollapse)]="isCollapsed">

          <ng-container *ngFor="let x of requests, index as i ">

            <div class="row py-3">

              <div class="col-2 text-center">
                <b> # </b> <br>
{{i}}
              </div>

              <div class="col-3 text-center">
                <b> Vehicle </b> <br>
{{x.vehicle}}
              </div>

              <div class="col-4 text-center">
                <b> Client Name </b> <br>
{{x.firstName}}
              </div>

              <div class="col-3 text-center">
                <b> Details </b> <br>
<a class="text-primary text-underline" data-bs-toggle="collapse" [attr.data-bs-target]="'#x'+i"> view details </a>
              </div>

            </div>

            <div class="bg-dark rounded p-1 collapse" [id]="'x'+i" >
              
              <div class="row text-center">

                <div class="col-6 mt-3">
                  First Name : {{x.firstName}}
                </div>

                <div class="col-6 mt-3">
                  Last Name : {{x.lastName}}
                </div>

                <div class="col-6 mt-3">
                  Vehicle : v12
                </div>

                <div class="col-6 mt-3">
                  Days : {{x.days}}
                </div>

                <div class="col-6 mt-3">
                  Location of use : {{x.locationUSe}}
                </div>

                <div class="col-6 mt-3">
                  Pickup Location : {{x.pLocation}}
                </div>

                <div class="col-6 mt-3">
                  Pickup Date : {{x.pickUpDate}}
                </div>

                <div class="col-6 mt-3">
                  Pickup Time : {{x.pickUpTime}}
                </div>

                <div class="col-6 mt-3">
                  Contact : {{x.contact}}
                </div>

                <div class="col-6 mt-3">
                  Email : {{x.email}}
                </div>

                <div class="col-6 mt-3">
                  <button class="btn btn-warning"> Approve </button>
                </div>

                <div class="col-6 mt-3">
                  <button class="btn btn-danger"> Reject </button>
                </div>

              </div>

            </div>

            </ng-container>

            

        </div>

        <div class="card-footer text-center">
            <span class="bg-warning rounded-circle p-2"> {{requests.length}} </span>
        </div>

    </div>

    <div class="card">

        <div class="card-header d-flex justify-content-between align-items-center" (click)="approved.toggle();  this.id.classList.toggle('fa-chevron-up');" [attr.aria-expanded]="!isCollapsed1">
            <p class="p-0 m-0 " style="width: 70%;"> Approved Requests </p>
            <i class="fa-solid fa-chevron-down text-end text-warning font-weight-bold" #id style="width: 30%;"></i>
        </div>

        <div class="card-body" #approved="ngbCollapse" [(ngbCollapse)]="isCollapsed1">

        </div>

        <div class="card-footer text-center">
            <span class="bg-success rounded-circle p-2"> 15 </span>
        </div>

    </div>

</div>