<app-dash-header title="Approvals"></app-dash-header>

<div class="container mt-5">

    <!-- mat-raised-button matBadge="7" -->

    <div class="card">

        <div class="card-header d-flex align-items-center justify-content-between" style="cursor: pointer;" (click)="approvals.toggle();  this.ic.classList.toggle('fa-chevron-up');" [attr.aria-expanded]="!isCollapsed" >
            <p class="p-0 m-0 " style="width: 70%;"> Pending Approval Requests </p>
            <i class="fa-solid fa-chevron-down text-end text-warning font-weight-bold" #ic style="width: 30%;"></i>
        </div>

        <div class="card-body" #approvals="ngbCollapse" [(ngbCollapse)]="isCollapsed">

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Weight </th>
                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Symbol </th>
                  <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

        </div>

        <div class="card-footer text-center">
            <span class="bg-warning rounded-circle p-2"> 15 </span>
        </div>

    </div>

    <div class="card">

        <div class="card-header d-flex justify-content-between align-items-center" (click)="approved.toggle();  this.id.classList.toggle('fa-chevron-up');" [attr.aria-expanded]="!isCollapsed1">
            <p class="p-0 m-0 " style="width: 70%;"> Approved Requests </p>
            <i class="fa-solid fa-chevron-down text-end text-warning font-weight-bold" #id style="width: 30%;"></i>
        </div>

        <div class="card-body" #approved="ngbCollapse" [(ngbCollapse)]="isCollapsed1">

        </div>

        <div class="card-footer text-center">
            <span class="bg-success rounded-circle p-2"> 15 </span>
        </div>

    </div>

</div>