
<!-- <div class="mobile vh-100 d-flex align-items-center" style="background: linear-gradient(180deg, #CBF9FD 0%, rgba(242, 254, 255, 0) 58.85%);">
	<div style="text-align: right;">
<img src="assets/black-audi-car-png-17 1.png" style="width: 90%;" >
</div>

<div class="vh-100 vw-100 d-flex align-items-center justify-content-center text-light font-weight-bolder flex-column " style="position: absolute; top: 0; font-size: 1.2em; background-color: #0000005c; font-weight: bolder; ">

	 <h1 class="font-weight-bolder"> <img src="assets/niilan.png" class="img-responsive" style="width:70px;"> NIILAN </h1>

Mobile Version is not yet available.
	</div>
	</div> -->

	<!-- <div class="vh-100 d-flex flex-column align-items-center justify-content-center " id="preloader">

		<img src="assets/niilan.png" class="img-responsive" style="width: 10%;">
		<h1 style="font-size: 5em;" > NIILAN </h1>
	  
	  
		</div> -->

		<!-- <h1> {{date}} </h1> -->
    <div class="router hidden" id="content" >
    <router-outlet></router-outlet>
    </div>