<div class="vh-100 text-dark px-5 d-flex justify-content-center align-items-center flex-column main">

    <div style="position: relative; z-index: 1; text-align: center;">
    <h1 style="width: 100%; text-align: left;"> 404 Error Page </h1>

    <h1 style="font-size: 3em;">  <i class="fas fa-exclamation-triangle text-warning"></i> 404  </h1>

    <h3>
        <i class="fas fa-exclamation-triangle text-warning"></i>Oops! Page not found. <br>
We could not find the page you were looking for. Meanwhile, you may return to <a href="/"> homepage. </a>
    </h3>

    </div>

</div>

<!-- <div style="display: flex; justify-content: center; align-items: center; font-weight: bold; background-color: white; color: black; padding: 4% 0%; ">
    <img src="./../../assets/niilan.png" style="width: 5%; margin-right: 1%"> Niilan Cars
</div>

<div style="background-color: lightblue; padding: 5%;">
    
<h1> Hello Abdul-Latif, </h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias omnis quisquam impedit delectus recusandae neque ea necessitatibus eum iusto praesentium blanditiis dignissimos, itaque repudiandae aliquid quae laboriosam nemo eaque rem sed fugiat odio commodi tempore. Labore porro, deleniti itaque quod aliquam sequi. Beatae ipsum fuga voluptas ut numquam, atque deleniti.
</p>

</div> -->