<app-dash-header [title]="title" ></app-dash-header>

    <div class="container bg-light p-5" id="lists">

        <h3 class="text-center"> Manage Listings </h3>

        <!-- <div class="border-top border-bottom border-3 py-3 row text-center" >

            <div class="col">
                Car 12
                </div>

                <div class="col text-primary">
                    <p> <i class="fa-solid fa-pen-to-square"></i> Edit </p>
                </div>

                <div class="col text-danger">
                    <p> <i class="fa-solid fa-trash"></i> Delete </p>
                </div>

        </div> -->

        <div class="border-top border-bottom border-3 py-3 row text-center" *ngFor="let x of cars index as carId" >

            <div class="col">
                {{x.carName}}
                </div>

                <div class="col text-primary">
                    <p [routerLink]="['/manage', x.id ]" style="cursor: pointer;" > <i class="fa-solid fa-pen-to-square"></i> Edit </p>
                </div>

                <div class="col text-danger">
                    <p style="cursor: pointer;"> <i class="fa-solid fa-trash" ></i> Delete </p>
                </div>

        </div>

        <div *ngIf="noListings" class="border-top border-bottom border-3 py-3 text-center" >
            {{noListings}}
        </div>

    </div>






    <div class="my-3 hidden" id="uForm" >

        <form [formGroup]="listCars" (ngSubmit)="updateCarSubmit()" class=" p-4 bg-dark rounded ">

            <div class="form-group">
                <label> Name your Vehicle </label>
                <input class="form-control" formControlName="carName" placeholder="Car Name" >
            </div>

            <div class="form-group mt-3 ">
                <label> Region </label>
                <input type="text" list="regions" formControlName="carRegion" class="form-control" placeholder="Choose Region" >

                <datalist id="regions">
                    <option *ngFor="let x of regions"> {{x}} </option>
                </datalist>

                <!-- <select class="form-control" placeholder="Choose Region" >

                    <option> Greater Accra </option>
                    <option> Ashanti </option>

                    </select> -->
            </div>

            <div class="form-group mt-3 ">
                <label> Location of vehicle </label>
                <input class="form-control" formControlName="carLocation" placeholder="Location" >
            </div>

            <div class="form-group mt-3 row ">
                <div class="col-4">
                    <label> Seats </label>
                    <input class="form-control" type="number" formControlName="noOfSeats" placeholder=" Seats " list="seats" >
                    <datalist id="seats">
                        <!-- <option *ngFor="let x of seats" > {{x}}  </option> -->
                    </datalist>
                </div>

                <div class="col-4">
                    <label> Fuel type </label>
                    <input class="form-control" type="text" formControlName="fuel" placeholder=" Fuel " list="fuel" >
                    <datalist id="fuel">
                        <option> Petrol </option>
                        <option> Diesel </option>
                        <option> Gas </option>
                    </datalist>
                </div>

                <div class="col-4">
                    <label> Speed </label>
                    <input class="form-control" type="text" formControlName="speed" placeholder=" Speed " list="speed" >
                    <datalist id="speed">
                        <option *ngFor="let x of speed"> {{x}} </option>
                    </datalist>
                </div>
                
            </div>

            <div class="form-group mt-3 ">
                <!-- <label> Vehicle color </label> -->
                <label class="text-light"> Color: </label>
                <input class="form-control" type="text" formControlName="color" placeholder="Color" >
            </div>

            <div class="form-group mt-3 ">
                <label>Price per day</label>
                <input class="form-control" type="number" formControlName="price" placeholder="Price (GH₵) " >
                
            </div>

            <div class="form-group mt-3 row ">
                <div class="col-6">
                    <label> Car Make </label>
                <input class="form-control" type="text" formControlName="carMake" placeholder=" Car Make " list="carMake" >
                <datalist id="carMake">
                    <option *ngFor="let x of carMake"> {{x}} </option>
                </datalist>
                </div>
                <div class="col-6">
                    <label> Body Style </label>
                    <input class="form-control" type="text" list="carBody" formControlName="bodyStyle" placeholder=" Body Style " >
                    <datalist id="carBody">
                        <option *ngFor="let x of carBody"> {{x}} </option>
                    </datalist>
                    </div>
            </div>

            <div class="form-group mt-3 ">

                <label class="text-light"> Enter vehicle plate number: </label>
                <input class="form-control" formControlName="carPlate" type="text" placeholder=" e.g GW-9020-20 " >
                
            </div>
            
            
            <div class="d-flex justify-content-center align-items-center p-3 m-0  " style="height: 200px; overflow-x: scroll; scroll-behavior: smooth; scroll-margin-inline-end: 0; ">

                <label class="p-2 rounded bg-light text-dark " style=" width: max-content; " for="images"  > <i class="fa-solid fa-plus"></i> Add Images </label>

                <div *ngIf="src" class="d-flex align-items-center" style="height: 100%; width: 80%; ">
                <img class="rounded mx-3" *ngFor="let x of src" [src]="x" style="height: 100%; " >
                </div>
                
            </div>

            <div class="form-group mt-3 " style="display: none;">
                <input class="form-control" id="images"  type="file" placeholder="Images" #file (change)="imagePreview(file.files)" >
            </div>

            <div class="form-group mt-3">
                <!-- <p class="text-light"> No </p> -->
                <!-- <input class="form-check-input" type="checkbox" formControlName="driver" id="mySwitch" value="yes" checked>  -->
                <!-- <p class="text-light"> Yes </p>> -->
                <!-- <label class="form-check-label text-light" for="mySwitch"> Comes With Driver </label> -->

                <label class="text-light" for="driving" > Choose driving: </label>

                <select class="form-control" id="driving" formControlName="driver">
                    <option> Driver available </option>
                    <option> Self driving </option>
                </select>
                
            </div>

            <div class="form-group mt-3 " >
                <label class="text-light m-2" > Description: </label>
                <textarea formControlName="description" placeholder=" Message for your customers " style="height: 200px;" class="form-control" ></textarea>

            </div>

            <div class="form-group mt-3 text-end ">

                <!-- <button type="reset" class="btn btn-danger mx-2" (click)="resetForm()" > Reset Form </button> -->
                
                <button type="submit" class="btn btn-primary" > Update Listing </button>

            </div>

        </form>

    </div>