div.logo{
	font-family: 'Inder';
   font-style: normal;
   font-weight: 400;
  font-size: 35px;
  line-height: 60px;
  width: 30%;
}

nav{
	width: 100%;
	text-align: right;
}

nav a{
	text-decoration: none;
	margin: 0 2%;
	color: black;
	font-family: 'Inder';
   font-style: normal;
   font-weight: 400;
  font-size: 1.2em;
  line-height: 30px;

}

nav button{
	font-family: 'inter-light';
    font-style: normal;
   font-weight: 400;
   font-size: 1.2em;
   line-height: 33px;
}

.d-hide{
	display: none;
}

.dropdown-toggle::after{
	display: none;
}

.d-show{
	display: block !important;
}

#drop{
	transition: all 5s infinite;
}

#carsImg:hover{
	width: 90%;
}

label{
    color: white;
}

@media(max-width : 500px){
	div.logo{
		width: 100%;
	}
	.lists{
		padding: 0% !important;
	}
	.car{
		margin-top: 7%;
	}
	.m-hide{
		display: none;
	}
	.d-hide{
		display: block;
	}
}

.hidden{
    display: none !important;
}

form{
    width: 60%;
    margin: auto;
}

@media(max-width : 1000px){

    form{
        width: 75%;
        margin: auto;
    }

}

@media(max-width : 900px){

    form{
        width: 80%;
        margin: auto;
    }

}

@media(max-width : 500px){

    form{
        width: 90%;
        margin: auto;
    }

}