div.banner{
	height: 200px;
	background-image: url(../../assets/banner.jpg);
	background-size: cover;
	background-position: center center;
	position: relative;
	z-index: 1;
	font-family: 'Inder';
}

div.banner::before{
	content: '';
	background-color: black;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .8;
	z-index: 0;
}

div.previous-links p{
	cursor: pointer;
	margin: 0%;
	padding: 1%;
}

div.previous-links p:hover{
	color: #ffc107;
}

.activeLlink{
	color: #ffc107 !important;

	i{
		border-color: #ffc107 !important;
	}
}

.d-hide{
	display: none !important;
}

@media(max-width : 500px){

	.d-hide{
		display: flex !important;
	}

}