<!-- 
<div class="bg-dark d-flex p-3">
	<div class="logo">
		<img src="assets/niilan.png">
	</div>
	<h1 class="text-light m-0"> Welcome {{user}} </h1>
</div> -->

<header class="d-flex justify-content-between py-2 px-3 align-items-center border-bottom rounded border-5 ">

	<div class="logo" >
	
		<img src="assets/niilan.png" class="img-responsive" style="width: 50px;"> NIILAN
	
	</div>
	
	<nav class="m-hide" *ngIf="!user">
	
		<a href=""> About </a>
	
		<a href=""> How it works? </a>
	
		<a routerLink="/listings"> Cars </a>
	
		<button class="btn mx-3" style="border: 1px solid #000000;border-radius: 36px;" routerLink="/login" > Log in </button>
	
		<button class="btn" style="background: #039ADD; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17); border-radius: 36px;" routerLink="/register" > Sign up </button>
	
	</nav>

	<div *ngIf="!user" class="col text-end d-hide">
		<div ngbDropdown class="d-inline-block" style="background-color: transparent !important;" >
			<!-- <i class="fa-solid fa-user border border-5 p-3 "  style="border-radius: 50%;" ></i> -->
		  <button type="button" class=" border border-0" style="background-color: transparent !important;" id="dropdownBasic1" ngbDropdownToggle>
			<i class="fa-solid fa-bars fa-2x "   ></i></button>

		  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

			<!-- <button ngbDropdownItem  onclick="document.getElementById('addEvents').classList.toggle('hidden')"> Profile </button>

<button ngbDropdownItem >
	 Log out </button> -->

		<a href="" ngbDropdownItem > Log In </a>
	
		<a href="" ngbDropdownItem > Sign Up </a>
	
		<a routerLink="/listings" ngbDropdownItem > Learn More </a>


		  </div>
		</div>
	  </div>

	<!-- <p class="bg-dark" style="width: 30%;"> WELCOME AAA </p> -->

	<nav *ngIf="user" class="d-flex justify-content-end align-items-center" >

		<div class="m-hide " style="width: 100%;" >
	
		<a href="" class="border border-3 p-1 rounded bg-dark text-light"> List a Car </a>
	
		<a href=""> Learn More </a>
	
		<a routerLink="/listings"> Trips </a>

		</div>
	
		<!-- <i class="fa fa-user-circle fa-2x" ></i> -->

		<div class="">
			<div ngbDropdown class="d-inline-block">
				<!-- <i class="fa-solid fa-user border border-5 p-3 "  style="border-radius: 50%;" ></i> -->
			  <button type="button" class=" border border-0" style="background-color: transparent !important;" id="dropdownBasic1" ngbDropdownToggle>
				<i class="fa-solid fa-user-circle fa-2x"   ></i></button>

			  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

				<button ngbDropdownItem  onclick="document.getElementById('addEvents').classList.toggle('hidden')"> Profile </button>

	<button ngbDropdownItem >
		 Log out </button>
	
			<a href="" ngbDropdownItem > List a Car </a>
		
			<a href="" ngbDropdownItem > Learn More </a>
		
			<a routerLink="/listings" ngbDropdownItem > Trips </a>
	

			  </div>
			</div>
		  </div>
	
	</nav>
	
	</header>

	<!-- <div class="a d-flex flex-column fixed-top bg-light " style=" width: 20%; left: 80%; top: 5%; "> 

		<a href=""> Profile </a>
		<a href=""> Log out </a>
		
	</div> -->

<div class="mt-2 row m-0 ">

	<div class="col-md-2 bg-dark"></div>

<div class="lists row m-0 col-md-10">

	<div [routerLink]="['/cars', carsId ]" class="col-md-4 car" *ngFor=" let x of cars index as carsId " style="cursor: pointer;" >

		<div class="card"  >

			<div class="card-header img bg-primary">

				<img [src]="x.images[0]" width="100%">

			</div>

			<div class="card-body">

				<!-- <a [routerLink]="['/cars', carsId ]" > {{x.name}}</a> -->

				<h5 class="text-center" style=" text-overflow: ellipsis; white-space: nowrap; overflow: hidden; " > {{x.name}}  </h5>

				<div class="details">

					<!-- <h6 class="text-center m-0"> Details  </h6> -->

					<p class="font-weight-bold m-0" style=" text-overflow: ellipsis; white-space: nowrap; overflow: hidden; "> {{x.description}} </p>

				</div>

			</div>

			<div class="card-footer d-flex justify-content-center align-items-center " >

				<p class="m-0 text-center" style="width: 50%;  text-overflow: ellipsis; white-space: nowrap; overflow: hidden; " > <b> {{x.price}} </b>  </p>

				<button class="btn btn-outline-primary" style="width: 50%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; " > BOOK NOW </button>

				<!-- <span class="col-4 m-0 p-0 text-center font-weight-bolder text-primary " style="font-weight : bolder; font-size: .9em; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; ">
								<i class="fa-solid fa-check-double font-weight-bolder"></i> AVAILABLE
							</span>
				
							<span class="col-4 text-center">
				
								<i class="fa-solid fa-thumbs-up fa-2x"></i> <b> 7 </b>
				
							</span>
				
							<span class="col-4 text-center">
				
								<button [routerLink]="['/cars', carsId ]" class="btn btn-primary"> <i class="fa-solid fa-circle-plus"></i> RENT </button>
				
							</span> -->
				
						</div>

		</div>

		</div>

		

</div>

</div>

<!-- <router-outlet></router-outlet> -->