<div class="main bg-light vh-100">

    <div class="m-0 row bg-dark">

    <div class="item col-lg-3 ">
        <div class="bg-danger row">
            <div class="col-6" style="max-height: 169px;">
                <img src="assets/12.jpg" style="max-width: 100%;" >
                </div>
                <div class="col-6">
                    <h1> Contents </h1>
                    </div>
                    <!-- 
                        <div class="card-header text-center p-0 " style="max-height: 169px; overflow: hidden; " >
				<img class="img-responsive text-center" [src]="x.img" style="
				vertical-align: middle;
				border-style: none;
				max-width: 100%;" >
			</div>
                     -->
        </div>
    </div>

    <div class="item col-lg-3 ">
        <div class="bg-danger row">
            <div class="col-6" style="max-height: 169px;">
                <img src="assets/black-audi-car-png-17 1.png" style="max-width: 100%;" >
                </div>
                <div class="col-6">
                    <h1> Contents </h1>
                    </div>
        </div>
            </div>

            <div class="item col-lg-3 ">
                <div class="bg-danger">
                    conents
                </div>
                    </div>

                    <div class="item col-lg-3 ">
                        <div class="bg-danger">
                            conents
                        </div>
                            </div>

    </div>

    </div>