

<app-header></app-header>

<div class="banner d-flex justify-content-end flex-column">

	
	<div class="previous-links container text-light d-flex align-items-center" style="position: relative; z-index: 2;">
		<p> HOME >></p> 
		<p> CARS </p>
	</div>

	<div class="container text-warning rounded" style="position: relative; z-index: 2;">
		<h3> | CHOOSE YOUR CAR </h3>
	</div>

</div>

<app-sort></app-sort>

<div class="mt-5 container">

		<div *ngIf="loader" class="text-center text-dark bg-success p-3 font-weight-bold"> Loading Cars... </div>

		<div class="lists row m-0 p-0 " >

	<div [routerLink]="['/cars/details', carsId ]" class="col-lg-3 col-md-4 m-0 p-1 mt-3 car" *ngFor=" let x of cars1 | paginate: { itemsPerPage: 4, currentPage: p } index as carsId " style="cursor: pointer;" >

		<div class="card"  >

			<div class="card-header d-flex justify-content-center p-0 overflow-hidden ; background-size: contain;
			background-repeat: no-repeat;
			background-position: center center; " style="height: 200px; box-sizing: border-box;  " [ngStyle]="{ 'background-image' : 'url('+x.carImagesUrl[0]+')', 'background-size':'cover','background-position': 'center center','background-repeat' : 'no-repeat'}">

			</div>

			<div class="card-body">

				<h5 class="text-center" style=" text-overflow: ellipsis; white-space: nowrap; overflow: hidden; " > {{x.carName}}  </h5>

				<div class="details">

					<p class="font-weight-bold m-0" style=" text-overflow: ellipsis; white-space: nowrap; overflow: hidden; "> {{x.description}} </p>

				</div>

			</div>

			<div class="card-footer d-flex justify-content-center align-items-center " >

				<p class="m-0 text-center" style="width: 50%;  text-overflow: ellipsis; white-space: nowrap; overflow: hidden; " > <b> GH₵{{x.price}} </b>  </p>

				<button class="btn btn-outline-primary" style="width: 50%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; " > BOOK NOW </button>
				
						</div>

		</div>

		</div>

		

</div>

</div>

<div class="text-center bg-light border-bottom border-3 mt-5" *ngIf="cars1">
	<pagination-controls (pageChange)="p = $event"></pagination-controls>
	</div>

<app-footer></app-footer>