<app-header class="bg-dark"></app-header>

<div class="banner d-flex justify-content-end flex-column">

	
	<div class="previous-links container text-light d-flex align-items-center" style="position: relative; z-index: 2;">
		<p routerLink="/"> HOME >></p> 
    <P routerLink="/cars"> CARS >></P>
		<p> RENT </p>
	</div>

	<div class="container text-warning rounded" style="position: relative; z-index: 2;">
		<h3> | RENT VEHICLE </h3>
	</div>

</div>


<div class="pb-5" style="font-family: 'Inder';">

  
    <div class="row m-0 p-0 container-fluid mx-auto ">

    <ngb-carousel class="col-lg-6 p-0 rounded overflow-hidden"  #carousel [interval]="4000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
     
        <ng-template ngbSlide *ngFor="let img of car1.carImagesUrl; index as i">
          <div class="carousel-caption">
            <h3> {{car1.carName}} </h3>
          </div>
          <!-- <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer"> -->
            <div class="picsum-img-wrapper rounded " style="height: 500px; box-sizing: border-box;  " [ngStyle]="{ 'background-image' : 'url('+img+')', 'background-size':'cover','background-position': 'center center','background-repeat' : 'no-repeat'}">
              <!-- <img class="img-rounded" [src]="img" style="max-width: 100%;" alt="My image {{i + 1}} description"> -->
            </div>
          <!-- </a> -->
        </ng-template>
        
      </ngb-carousel>

      <div  class="col-lg-6">
        
        <h1 class="font-weight-bolder text-center"> {{ car1.carName }} </h1>

        <div class="text-center my-3">
            <i class="fa-solid fa-location-dot"></i> {{car1.carRegion}} [ {{car1.carLocation}} ]              
      </div>

        <div class="row my-3">
            <div class="col">
            <i class="fa-solid fa-chair text-primary"></i> {{car1.noOfSeats}} Seats
            </div>
            <div class="col">
                <i class="fa-solid fa-gas-pump text-primary"></i> {{car1.fuel}}
                </div>
                <div class="col">
                    <i class="fa-solid fa-gauge text-primary"></i> {{car1.speed}}
                    </div>
                
        </div>

        <div class="text-center my-3 row">

          <div class="col">
            <img src="assets/wheel.png" style="width: 5%;" class=""> {{car1.driver}} 
          </div>

          <div class="col">
            <i class="fa-solid fa-palette text-primary"></i> {{car1.color}}
            <!-- No. {{car1.carPlate}}  -->
          </div>
               
    </div>
    
    <h4 class=" bg-success rounded p-2 text-center ">
      {{car1.status}}
    </h4>

        <div id="ee" class="des-less">
            <h5 class="text-left" > Description: </h5>
            <p class="text-center" > {{car1.description}} </p>
        </div>

        <button class=" mt-3 btn btn-outline-primary" (click)="expDes(a)" #a > Read More </button>

        <p class="text-center text-light bg-primary my-3 p-3 rounded font-weight-bolder " style="font-weight: bolder;" > {{car1.price | currency:'GHS':'symbol-narrow':'2.2-4' }} </p>
    </div>

      

      </div>
</div>




<div class="fixed-bottom bg-warning text-center rounded p-2 font-weight-bold " style=" cursor: pointer; " (click)="this.requestForm.classList.toggle('hidden')">
   Book here
</div>



<div class="fixed-top pt-5 hidden animate__animated animate__backInUp" #requestForm style=" backdrop-filter: blur(3px); overflow-y: scroll; height: 100vh; " >

    <div class="col-lg-12 d-flex align-items-center justify-content-center flex-column mb-5" >

        <form [formGroup]="request" (ngSubmit)="rent()" class="bg-warning rounded p-3" >

          <h2 class="m-0"> Client details </h2>

          <div class="form-group">
            <label> Provide your email address <span class="bg-primary p-2 rounded"> Optional </span> </label>
            <!-- <small class="text-danger font-weight-bold" *ngIf="submitted && this.requestsControls['email'].errors?.['required']" > Please provide your mail. </small> -->
            <small class="text-danger font-weight-bold" *ngIf="submitted && this.requestsControls['email'].errors?.['email']" > Please provide a valid email address. </small>
            <input type="text" class="form-control" formControlName="email" [(ngModel)]="email" >
            <small> So we can send your confirmation message </small>
          </div>

          <!-- <h1 class="text-center m-0"> OR </h1> -->

          <div class="form-group">
            <label> Provide your contact number </label>
            <small class="text-danger font-weight-bold" *ngIf="submitted && this.requestsControls['contact'].errors?.['required']" >  Please provide your contact number. </small>
            <input type="text" class="form-control" formControlName="contact" >
            <small> So we can contact you </small>
          </div>

          <div class="form-group">
            <label> First Name </label>
            <small class="text-danger font-weight-bold" *ngIf="submitted && this.requestsControls['firstName'].errors?.['required']" > This field is required. </small> 
            <input type="text" class="form-control" formControlName="firstName">
          </div>

          <div class="form-group">
            <label> Last Name </label>
            <small class="text-danger font-weight-bold" *ngIf="submitted && this.requestsControls['lastName'].errors?.['required']" > This field is required. </small>
            <input type="text" class="form-control" formControlName="lastName" >
          </div>

          <!-- <div class="form-group">
            <label> Where do you live? </label>
            <input type="text" class="form-control">
          </div> -->

            <div class="row">
                <label class="my-3 font-weight-bolder"> When do you need the car? </label>
                
                <div class="col">
                  <small class="text-danger font-weight-bold" *ngIf="submitted && this.requestsControls['pickUpDate'].errors?.['required']" > This field is required. </small>
                <input type="date" class="form-control "  formControlName="pickUpDate">
            </div>

            <div class="col">
              <small class="text-danger font-weight-bold" *ngIf="submitted && this.requestsControls['pickUpTime'].errors?.['required']" > This field is required. </small>
                <input type="time" value="08:00" class="form-control " formControlName="pickUpTime" >
                </div>

                <small> So we can arrange your pickup </small>
            </div>

            <!-- <div class="row">
              <label class="my-3 font-weight-bolder"> When are you returning the car? </label>
              <div class="col">
              <input type="date" class="form-control " value="2022-10-02" >
          </div>

          <div class="col">
              <input type="time" value="08:00" class="form-control ">
              </div>

              <small> Must match duration of rental </small>
          </div> -->

            <div class="form-group mt-3">
              <label> How many days do you need the car? </label>
              <small class="text-danger font-weight-bold" *ngIf="submitted && this.requestsControls['days'].errors?.['required']" > This field is required. </small>
              <input type="text" class="form-control" placeholder="Duration of rental" formControlName="days">
            </div>

            <div class="form-group">
              <label> Location use of car? </label>
              <small class="text-danger font-weight-bold" *ngIf="submitted && this.requestsControls['locationUSe'].errors?.['required']" > This field is required. </small>
              <input type="text" class="form-control" formControlName="locationUSe" >
            </div>

            <div class="row my-3">

                <div class="col-12">
                    <label class="mt-3 font-weight-bolder"> Pickup Location </label>
                    <small class="text-danger font-weight-bold" *ngIf="submitted && this.requestsControls['pLocation'].errors?.['required']" > This field is required. </small>
                <input type="text" class="form-control " formControlName="pLocation" >
            </div>

            <!-- <div class="col">
                <label class="mt-3 font-weight-bolder"> DropOff Location </label>
                <input type="text"  class="form-control " formControlName="dLocation" >
                </div> -->

            </div>

            <!-- <div class="row container ">

            <div class="form-check col">
                <input class="form-check-input" type="radio" id="check1" name="option1"  checked>
                <label class="form-check-label">With Driver</label>
              </div>

              <div class="form-check col">
                <input class="form-check-input" type="radio" id="check1" name="option1"  >
                <label class="form-check-label" #a >Without Driver</label>
              </div>

              </div> -->

              <div class="form-group" *ngIf="driving" >
                  ' Vehicle comes with driver, continue to submit your request '
              </div>

              <div class="form-group" *ngIf="!driving" >
                ' Vehicle does not come with a driver, so provide your driving details '
            </div>

              <div class="form-group mt-3" *ngIf="!driving">
                <label> Enter your license number </label>
                <input class="form-control" type="text" formControlName="dLincense">
              </div>

              <div class="form-group mt-3" *ngIf="!driving">
                <p class="m-0 mb-2"> Upload an image of your driving license </p>
                <ngx-dropzone (change)="onSelect($event)">
                  <ngx-dropzone-label>Upload image</ngx-dropzone-label>
                  <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label class="bg-dark">{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                  </ngx-dropzone-preview>
                </ngx-dropzone>
            
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f">
                  <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                  </ngx-dropzone-image-preview>
            
                <!-- <div class=" border-primary border-5 text-dark rounded p-3 d-flex align-items-center justify-content-center" style="height: 300px; border-style: dashed !important;"> <label for="license" class="bg-dark rounded text-light p-3"> <i class="fa-solid fa-plus"></i> Upload image </label> </div>
                <input class="form-control d-none" type="file" id="license" > -->
              </div>

              <div class="row">

                <div class="col-6 text-center">
                  <button type="submit" class="btn btn-primary"> Submit request </button>
                </div>
<!-- 
                <div class="col-4">
                  <button class="btn btn-outline-primary" type="reset"> reset request </button>
                </div> -->

                <div class="col-6 text-center">
                  <button class="btn btn-danger" (click)="this.requestForm.classList.toggle('hidden')"> Cancel request </button>
                </div>

              </div>

        </form>


      </div>

      <!-- <div class="col-sm-6 comments">
        <h3> Feedbacks </h3>
        <div class="form-group border-light bg-dark border-3 p-3 rounded text-center">
        <input type="text" class="form-control" placeholder="Add your feedback">
        <button class="btn btn-outline-primary mt-3"> Submit </button>
        </div>
      </div> -->

</div>

<div class="fixed-top  "  >

  <div *ngIf="loading" class="d-flex justify-content-center align-items-center" style=" backdrop-filter: blur(3px); width: 100%; height: 100vh;" >

    <div class="bg-light p-3 rounded ">
        <i class="fa-solid fa-gear fa-spin "></i>   PROCESSING...
    </div>


</div>

<div *ngIf="successMessage" class="animate__zoomIn vh-100 d-flex flex-column align-items-center justify-content-center " style="background-color: rgba(0, 0, 0, 0.507);" >

  <div class="d-flex flex-column align-items-center justify-content-center bg-light rounded mx-auto p-3  " style=" width: max-content; " >

    <i class="fa-solid fa-check-double bg-success p-1 text-light mx-2 fa-2x" style="border-radius: 50%;"></i>

    <h4 class="m-0 mt-2 text-center"> {{successMessage}} <br> Thank you for choosing niilano. </h4>

  </div>

  </div>

  <div *ngIf="errorMessage" class="animate__zoomIn vh-100 d-flex flex-column align-items-center justify-content-center " style="background-color: rgba(0, 0, 0, 0.507);" >

    <div class="d-flex flex-column align-items-center justify-content-center bg-danger rounded mx-auto p-3  " style=" width: max-content; " >
  
      <!-- <i class="fa-solid fa-check-double bg-success p-1 text-light mx-2 fa-2x" style="border-radius: 50%;"></i> -->

      <i class="fa-solid fa-xmark-circle bg-danger text-light mx-2 fa-2x" style="border-radius: 50%;"></i>
  
      <h4 class="m-0 mt-2 text-center"> Error sending request. Please try again later... </h4>
  
    </div>
  
    </div>

  <!-- <div class="bg-light border-black border-5 rounded p-3 d-flex justify-content-center align-items-center flex-column " style=" width: 60%; box-sizing: border-box; " >

    <i class="fa-solid fa-check-double fa-2x bg-success p-3 mb-3 text-light " style="border-radius: 50%;"></i>

    <p> Your request has successfully being sent for approval, once it is approved you can continue to make payment and enjoy your ride. </p> 

  </div> -->

</div>