
div.banner{
	height: 200px;
	background-image: url(../../assets/banner.jpg);
	background-size: cover;
	background-position: center center;
	position: relative;
	z-index: 1;
	font-family: 'Inder';
}

div.banner::before{
	content: '';
	background-color: black;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .8;
	z-index: 0;
}

.hidden{
	display: none;
}

div.previous-links p{
	cursor: pointer;
	margin: 0%;
	padding: 1%;
}

div.previous-links p:hover{
	color: #ffc107;
}

.des-less::after{
    height: 100px;
    // background-color: green;
    background-image: linear-gradient(360deg,white,transparent);
    position: absolute;
    width: 100%;
    bottom: 0%;
    left: 0%;
    content: "";
}

.des-less{
    height: 70px;
    overflow: hidden;
    position: relative;
}

.des-more{
    height: auto;
}


div.logo{
	font-family: 'Inder';
   font-style: normal;
   font-weight: 400;
  font-size: 35px;
  line-height: 60px;
  width: 30%;
}

nav{
	width: 100%;
	text-align: right;
}

nav a{
	text-decoration: none;
	margin: 0 2%;
	color: black;
	font-family: 'Inder';
   font-style: normal;
   font-weight: 400;
  font-size: 1.2em;
  line-height: 30px;

}

nav button{
	font-family: 'inter-light';
    font-style: normal;
   font-weight: 400;
   font-size: 1.2em;
   line-height: 33px;
}

.d-hide{
	display: none;
}

.dropdown-toggle::after{
	display: none;
}

@media(max-width : 500px){
	div.logo{
		width: 100%;
	}
	.lists{
		padding: 0% !important;
	}
	.car{
		margin-top: 7%;
	}
	.m-hide{
		display: none;
	}
	.d-hide{
		display: block;
	}
    // .dropdown-toggle::after{
    //     display: none;
    // }
}