/* You can add global styles to this file, and also import other style files */

@font-face{
	font-family: inter-bold;
	src: url(assets/inter/Inter-Black.ttf);
}

@font-face{
	font-family: inter-light;
	src: url(assets/inter/Inter-Light.ttf);
}

@font-face{
	font-family: Inder;
	src: url(assets/inder/Inder-Regular.ttf);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
