
<div id="selectHost" class="vh-100 bg-light d-flex flex-column p-0 ">

    <h1 
    class="m-0 py-5 text-center bg-warning" >
     What do you want to host? 

    </h1>

    <div class="container mt-3">

        <div>
            <button class="btn w-100 btn-secondary hostChoice shadow " (click)="selectCategory('Vehicle')" > Vehicle </button>
        </div>

        <div class="mt-3">
            <button class="btn w-100 btn-secondary hostChoice shadow " (click)="selectCategory('House')" > House </button>
        </div>

    </div>

</div>


<div id="Vehicle" class="bg-light vh-100 d-none justify-content-center align-items-center ">
    
    <form class="p-3 border container rounded">

        <h1 class="text-warning font-weight-bold "> List your {{category}} </h1>

        <div class="form-group form-group-active ">
            <label class="text-dark"> Choose a name for you {{category}} </label>
            <!-- <small *ngIf="submitted && this.listCarsV['carName'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small> -->
            <input class="form-control"  placeholder="Car Name" >

            <div class="d-flex justify-content-between align-items-center mt-5">
                <button class="btn btn-danger btn-prev" > Previous </button>
                <button class="btn btn-primary btn-next" > Next </button>
            </div>

        </div>

        <div class="form-group ">
            <label class="text-dark"> Which region is your {{category}} located? </label>
            <!-- <small *ngIf="submitted && this.listCarsV['carRegion'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small> -->
            <input type="text" list="regions"  class="form-control" placeholder="Choose Region" >

            <datalist id="regions">
                <option *ngFor="let x of regions"> {{x}} </option>
            </datalist>


            <div class="d-flex justify-content-between align-items-center mt-5">
                <button class="btn btn-danger btn-prev" > Previous </button>
                <button class="btn btn-primary btn-next" > Next </button>
            </div>
            
        </div>


        <div class="form-group mt-3 ">
            <label class="text-dark"> Location of {{category}} </label>
            <!-- <small *ngIf="submitted && this.listCarsV['carLocation'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small> -->
            <input class="form-control"  placeholder="Location" >

            <div class="d-flex justify-content-between align-items-center mt-5">
                <button class="btn btn-danger btn-prev" > Previous </button>
                <button class="btn btn-primary btn-next" > Next </button>
            </div>

        </div>

        <div class="form-group ">

            <div class="row">

                <div class="col-sm-4">
                    <label class="text-dark"> Seats </label>
                    <!-- <small *ngIf="submitted && this.listCarsV['noOfSeats'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small> -->
                    <input class="form-control" type="number"  placeholder=" Seats " list="seats" >
                    <datalist id="seats">
                        <option *ngFor="let x of seats" > {{x}}  </option>
                    </datalist>
                </div>

                <div class="col-sm-4">
                    <label class="text-dark"> Fuel type </label>
                    <!-- <small *ngIf="submitted && this.listCarsV['fuel'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small> -->
                    <input class="form-control" type="text" placeholder=" Fuel " list="fuel" >
                    <datalist id="fuel">
                        <option> Petrol </option>
                        <option> Diesel </option>
                        <option> Gas </option>
                    </datalist>
                </div>

                <div class="col-sm-4">
                    <label class="text-dark"> Speed </label>
                    <!-- <small *ngIf="submitted && this.listCarsV['speed'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small> -->
                    <input class="form-control" type="text" formControlName="speed" placeholder=" Speed " list="speed" >
                    <datalist id="speed">
                        <option *ngFor="let x of speed"> {{x}} </option>
                    </datalist>
                </div>

                </div>

                <div class="d-flex justify-content-between align-items-center mt-5">
                    <button class="btn btn-danger btn-prev" > Previous </button>
                    <button class="btn btn-primary btn-next" > Next </button>
                </div>
                
            </div>


            <div class="form-group mt-3 ">
                <!-- <label> Vehicle color </label> -->
                <label class="text-dark"> Color of your {{category}}: </label>
                <!-- <small *ngIf="submitted && this.listCarsV['color'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small> -->
                <input class="form-control" type="text" placeholder="Color" >

                <div class="d-flex justify-content-between align-items-center mt-5">
                    <button class="btn btn-danger btn-prev" > Previous </button>
                    <button class="btn btn-primary btn-next" > Next </button>
                </div>

            </div>

            <div class="form-group mt-3 ">
                <label class="text-dark">Price per day</label>
                <!-- <small *ngIf="submitted && this.listCarsV['price'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small> -->
                <input class="form-control" type="number" placeholder="Price (GH₵) " >

                <div class="d-flex justify-content-between align-items-center mt-5">
                    <button class="btn btn-danger btn-prev" > Previous </button>
                    <button class="btn btn-primary btn-next" > Next </button>
                </div>
                
            </div>

            <div class="form-group mt-3 row ">
                <div class="col-md-6">
                    <label class="text-dark"> Brand of your {{category}} </label>
                    <!-- <small *ngIf="submitted && this.listCarsV['carMake'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small> -->
                <input class="form-control" type="text" placeholder=" Car Make " list="carMake" >
                <datalist id="carMake">
                    <option *ngFor="let x of carMake"> {{x}} </option>
                </datalist>
                </div>
                <div class="col-md-6 mt-3">
                    <label class="text-dark"> Vehicle type </label>
                    <!-- <small *ngIf="submitted && this.listCarsV['bodyStyle'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small> -->
                    <input class="form-control" type="text" list="carBody" placeholder=" Body Style " >
                    <datalist id="carBody">
                        <option *ngFor="let x of carBody"> {{x}} </option>
                    </datalist>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mt-5">
                        <button class="btn btn-danger btn-prev" > Previous </button>
                        <button class="btn btn-primary btn-next" > Next </button>
                    </div>

            </div>

            <div class="form-group mt-3 ">

                <label class="text-dark"> Enter vehicle plate number: </label>
                <!-- <small *ngIf="submitted && this.listCarsV['carPlate'].errors?.['required']" class="text-danger font-weight-bold " > This field is required </small> -->
                <input class="form-control"  type="text" placeholder=" e.g GW-9020-20 " >
                
            </div>



    </form>

</div>

<div id="House" class="bg-dark vh-100 d-none">
    This is House
    </div>

<div *ngIf="errorMsg || successMsg" class="fixed-top d-flex justify-content-center mt-3 " >

    <p *ngIf="errorMsg" class="bg-danger m-0 p-2 rounded d-flex align-items-center justify-content-center " > <i class="fa-solid fa-circle-exclamation mx-2"></i> <span> {{errorMsg}} </span> </p>
    
    <p *ngIf="successMsg" class="bg-success m-0 p-2 rounded d-flex align-items-center justify-content-center " > <i class="fa-solid fa-circle-check mx-2"></i> <span> {{successMsg}} </span> </p>

</div>


<!-- <div class="vh-100 bg-dark d-flex align-items-center justify-content-center">

    <form class="p-3 border w-50 rounded">

        <div class="progressbar">
            <div class="progress" id="progress"></div>
            
            <div
              class="progress-step progress-step-active"
              data-title="Intro"
            ></div>
            <div class="progress-step" data-title="Contact"></div>
            <div class="progress-step" data-title="ID"></div>
            <div class="progress-step" data-title="Password"></div>
          </div>

        <div class="form-group form-group-active mt-3">
            <input class="form-control" placeholder="email">

            <div class="d-flex justify-content-between mt-3">
                <button type="button" class="btn btn-primary btn-next">Next</button>
            </div>
        </div>

        <div class="form-group mt-3">
            <input class="form-control" placeholder="first name">

            <div class="d-flex justify-content-between mt-3">
                <button type="button" class="btn btn-primary btn-prev">Previous</button>
                <button type="button" class="btn btn-primary btn-next">Next</button>
            </div>
        </div>

        <div class="form-group mt-3">
            <input class="form-control" placeholder="last name">

            <div class="d-flex justify-content-between mt-3">
                <button type="button" class="btn btn-primary btn-prev">Previous</button>
            </div>
        </div>

    </form>

    </div> -->